<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Bienvenido a Pumatronics</h2>
            <p class="text-center wow fadeInDown">Empresa dedicada a la venta de productos electronicos e informaticos
                <br> Tenemos diversidad de servicios hasta la puerta de tu casa</p>
        </div>

        <div class="row">


            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Un poco mas sobre Nosotros</h3>
                <p>Contamos con mas de 10 años de experiencia en reparacion de computadoras, Hardware y Software<br> Egresados De la carrera de informatica, por el instituto Tecnologico de la region, <br> No le tememos al cambio por ellos ofrecemos modernidad
                    en nuestros servicios.
                </p>


            </div>
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="assets/img/arduino.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--/#about-->