<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(assets/img/bg500.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content text-center">
                                <h2>Venta de productos <span>Electronicos</span></h2>
                                <p>Catalogo de productos para tu proyecto o hobbie. Dale vida a tus ideas.</p>
                                <a class="btn btn-primary btn-lg" [routerLink]="['productos']">Ver Productos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.item-->
    </div>
</section>